.wrap{
    background: rgba(251, 221, 187, 0.51);
}
.header_name{
  
position: absolute;
width: 320px;
height: 900px;
left: 0px;
top: 0px;

background: #FBFBFB;
border-radius: 20px;}
.logo{
    margin: 113px 60px;
}
.logo_name{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 50px;
letter-spacing: 0.05em;
display: flex;
color: #00302E;
margin: -60px  92px 725px 116px;
}
.contant{  
position: absolute;
width: 268px;
height: 568px;
left: 25px;
top: 296px;
}
.home_name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
margin: -23px 107px 18px 54px;
    color: #000000;
}
.home{
    
position: absolute;
width: 267px;
height: 50px;
left: 0px;
top: 0px;

background: #EFEFEF;
border-radius: 12px;
}
.home_foto{
    margin: 16px 130px 16px 17px;
}
.profile{
    margin: 76px 257px 504px 25px;
}
.profile_name{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
color: #707070;
    margin: -33px 124px 507px 80px;
}
.orders_box{
box-sizing: border-box;
position: absolute;
width: 24px;
height: 24px;
left: 225px;
top: 17px;
margin:143px 45px 433px 2px ;
background: #06E775;
border: 1px solid #06E775;
border-radius: 5px;
}
.num{
    margin: 3px 2px 0px 7px;
}
.orders_foto{
margin: -30px 258px 439px -200px
}
.orders{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #707070;
margin: -24px 56px -3px ;
}
.cart_foto{
    margin: 35px 257px 380px 0px;
}
.cart_name{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin: -30px 132px 283px 80px;
color: #707070;
}
.cart_box{
    box-sizing: border-box;
    
    position: absolute;
    width: 24px;
    height: 24px;
    left: 225px;
    top: 10px;
    margin: 30px 45px 31px -225px;
    background: #F3C294;
    border: 1px solid #F3C294;
    border-radius: 5px;
    }
    .morning{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 33px;
/* identical to box height, or 143% */
margin:139px 694px 728px 388px ;


color: #00302E;
    }
    .text2{
     display:flex;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 33px;
text-align: center;
margin: 176px 241px 691px 388px;
color: rgba(0, 0, 0, 0.69);
    }
    .foto1{
        margin: -150px 71px 703px 1319px;
    }
    .fot2{
        
background: rgba(255, 255, 255, 0.83);
border: 0.3px solid rgba(0, 48, 46, 0.14);
border-radius: 5px;
margin: 47px 82px 170px 68px;
    }
    .box1{
        position: absolute;
        width: 240px;
        height: 307px;
        left: 388px;
        top: 262px;
        
        background: rgba(255, 255, 255, 0.83);
        border: 0.3px solid rgba(0, 48, 46, 0.14);
        border-radius: 5px;
        margin: 90px 812px 331px 3px;
    }
    .pasta1{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 33px;
/* identical to box height, or 194% */
color: #00302E;
    }
    .pasta_text{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 21px;
/* or 191% */

text-align: center;

color: rgba(0, 0, 0, 0.69);
    }
    .money{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 33px;
margin: 35px 143px 23px 29px;
color: #00302E;
    }
    .kart{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 33px;
/* identical to box height, or 254% */

text-align: right;
margin: -55px 14px 23px -154px;
color: #06E775;
    }
    
    .foto2{
        margin-left: 80px ;
        margin-top: 15px;
    }

    .box2{
        position: absolute;
        width: 240px;
        height: 307px;
        left: 388px;
        top: 262px;
        
        background: rgba(255, 255, 255, 0.83);
        border: 0.3px solid rgba(0, 48, 46, 0.14);
        border-radius: 5px;
        margin: -262px 454px 331px 46px;
    }
    .pasta2{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 33px;
/* identical to box height, or 194% */
color: #00302E;
    }
    .pasta_text2{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 21px;
/* or 191% */

text-align: center;

color: rgba(0, 0, 0, 0.69);
    }
    .money2{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 33px;
margin: 35px 143px 23px 29px;
color: #00302E;
    }
    .kart2{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 33px;
/* identical to box height, or 254% */

text-align: right;
margin: -55px 14px 23px -154px;
color: #06E775;
    }
    
    .foto2{
        margin-left: 80px ;
        margin-top: 15px;
    }


    .box3{
        position: absolute;
        width: 240px;
        height: 307px;
        left: 388px;
        top: 262px;
        
        background: rgba(255, 255, 255, 0.83);
        border: 0.3px solid rgba(0, 48, 46, 0.14);
        border-radius: 5px;
        margin: -262px 454px 331px 46px;
    }
    .pasta3{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 33px;
/* identical to box height, or 194% */
color: #00302E;
    }
    .pasta_text3{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 21px;
/* or 191% */

text-align: center;

color: rgba(0, 0, 0, 0.69);
    }
    .money3{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 33px;
margin: 35px 143px 23px 29px;
color: #00302E;
    }
    .kart3{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 33px;
/* identical to box height, or 254% */

text-align: right;
margin: -55px 14px 23px -154px;
color: #06E775;
    }
    
    .foto3{
        margin-left: 80px ;
        margin-top: 15px;
    }


    .box100{
        margin-top: 50px;
    }
    .box4{
        position: absolute;
        width: 240px;
        height: 307px;
        left: 388px;
        top: 262px;
        
        background: rgba(255, 255, 255, 0.83);
        border: 0.3px solid rgba(0, 48, 46, 0.14);
        border-radius: 5px;
        margin:200px 13px 234px -825px ;
      
    }
    .pasta4{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 33px;
/* identical to box height, or 194% */
color: #00302E;
    }
    .pasta_text4{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 21px;
/* or 191% */

text-align: center;

color: rgba(0, 0, 0, 0.69);
    }
    .money4{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 33px;
margin: 35px 143px 23px 29px;
color: #00302E;
    }
    .kart4{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 33px;
/* identical to box height, or 254% */

text-align: right;
margin: -55px 14px 23px -154px;
color: #06E775;
    }
    
    .foto4{
        margin-left: 80px ;
        margin-top: 15px;
    }



    .box5{
        position: absolute;
        width: 240px;
        height: 307px;
        left: 388px;
        top: 262px;
        
        background: rgba(255, 255, 255, 0.83);
        border: 0.3px solid rgba(0, 48, 46, 0.14);
        border-radius: 5px;
        margin:200px 13px 234px -390px ;
      
    }
    .pasta5{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 33px;
/* identical to box height, or 194% */
color: #00302E;
    }
    .pasta_text5{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 21px;
/* or 191% */

text-align: center;

color: rgba(0, 0, 0, 0.69);
    }
    .money5{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 33px;
margin: 35px 143px 23px 29px;
color: #00302E;
    }
    .kart5{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 33px;
/* identical to box height, or 254% */

text-align: right;
margin: -55px 14px 23px -154px;
color: #06E775;
    }
    
    .foto5{
        margin-left: 80px ;
        margin-top: 15px;
    }



    .box6{
        position: absolute;
        width: 240px;
        height: 307px;
        left: 388px;
        top: 262px;
        
        background: rgba(255, 255, 255, 0.83);
        border: 0.3px solid rgba(0, 48, 46, 0.14);
        border-radius: 5px;
        margin:200px 13px 234px 50px ;
      
    }
    .pasta6{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 33px;
/* identical to box height, or 194% */
color: #00302E;
    }
    .pasta_text6{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 21px;
/* or 191% */

text-align: center;

color: rgba(0, 0, 0, 0.69);
    }
    .money6{
        
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 33px;
margin: 35px 143px 23px 29px;
color: #00302E;
    }
    .kart6{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 33px;
/* identical to box height, or 254% */

text-align: right;
margin: -55px 14px 23px -154px;
color: #06E775;
    }
    .foto6{
        margin-left: 80px ;
        margin-top: 15px;
    }
